<mat-card>
  <mat-card-content>
    <div class="qb-torrent-list-item__content">
      <header (click)="expanded.set(!expanded())">
        <span>{{ torrent().name }}</span>
      </header>

      <div class="qb-torrent-list-item__row"></div>

      <div class="qb-torrent-list-item__row">
        <span class="qb-torrent-list-item__size">{{ completed() }} of {{ total() }} </span>
        <span style="flex: 1 1 0"></span>
        <span class="qb-torrent-list-item__speed"
          ><mat-icon fontIcon="arrow_downward_alt" /><span>{{ dlspeed() }}/s</span></span
        >
        <span class="qb-torrent-list-item__speed"
          ><mat-icon fontIcon="arrow_upward_alt" /><span>{{ upspeed() }}/s</span></span
        >
      </div>

      @if (expanded()) {
        <dl class="qb-torrent-list-item__meta">
          <dt>Magnet URI</dt>
          <dd
            class="qb-torrent-list-item__meta__magnet-uri"
            [cdkCopyToClipboard]="torrent().magnet_uri"
          >
            <span>{{ torrent().magnet_uri }}</span>
            <mat-icon fontIcon="content_copy" />
          </dd>
          @for (item of meta(); track item.caption) {
            <dt>{{ item.caption }}</dt>
            <dd>{{ item.value }}</dd>
          }
        </dl>
      }
    </div>

    @if (selectMode()) {
      <div class="qb-torrent-list-item__select-trigger" (click)="isSelected.set(!isSelected())">
        <mat-checkbox class="qb-torrent-list-item__select-indicator" [checked]="isSelected()" />
      </div>
    }
  </mat-card-content>

  <mat-progress-bar
    class="qb-torrent-list-item__progress"
    [value]="progress() * 100"
  ></mat-progress-bar>
</mat-card>
